<%- include('./partials/header') %>


<main>
    <div class="container">
        <div class="row">
            <div class="infoProduto">
                <div class="row">
                    <% infoProduto.forEach(element => {%> 

                    <img src="/foto/<%= element.foto %>" alt="Produto">
                    <div class="text">
                        <h2><%= element.nome_produto %></h2>
                        <p><%= element.descricao %>
                        </p>
                        <a href="#infoItem">Mais informações</a>
                    </div>
                </div>
            </div>

            <div class="frete">
                <p class="de"> De R$ 34,99</p>
                <p class="por" onkeypress="$(this).mask('R$ 999.990,00')"> <%= element.valor %></p>
                <hr>
                <p class="frete-prazo">Calcular frete e pazo:</p>
                <div class="row">
                    <form action="cep" method="post">
                        <input type="text" name="cep" maxlength="8"  placeholder="Digite seu cep" onkeypress="$(this).mask('00.000-000')"">
                        <button type="submit">Ok</button>
                    </form>
                </div>
                <hr>
                <a href="/finalizar"><button type="submit" class="btn-comprar">Comprar :) <img src="/img/ecomerce/carrinho.png"></button></a>
                <a href="/carrinho"><button type="submit" class="btn-adicionar">Adicionar <img src="/img/ecomerce/carrinho.png"></button></a>
            </div>
            <% }); %>

                <div id="infoItem">
                    <h1>Informações do produto</h1>
                    <p>Em seu primeiro livro, Thiago Nigro, criador da plataforma O Primo Rico, ensina aos leitores os três pilares para atingir a independência financeira: gastar bem, investir melhor e ganhar mais. Por meio de dados e de sua própria experiência como investidor e assessor, Nigro mostra que a riqueza é possível para todos – basta estar disposto a aprender e se dedicar.</p>
                </div>
       </div>
    </div>
</main>

<%- include('./partials/footer') %>
